   <p>PRELIMINARY COUNTS</p>
<table class="{% if isHtml %} table table-condensed {% else %} pdf {% endif %}" {% if not isHtml %} border="1" {% endif %}>
	<tr>
		<th colspan="3"><b>Total Learners with Disability</b></th>
		<th colspan="3"><b>Total Special Needs Education Teachers</b></th>
		<th colspan="3"><b>Total Classrooms Present</b></th>
	</tr>
	<tr>
		<td>Boys</td>
		<td>Girls</td>
		<td>Total</td>
		<td>Male</td>
		<td>Female</td>
		<td>Total</td>
		<td>Temporary</td>
		<td>Permanent</td>
		<td>Total</td>
	</tr>
	<tr>
		<td>{{ numBoys }}</td>
		<td>{{ numGirls }}</td>
		<td>{{ numBoys + numGirls }}</td>
		<td>{{ sntMale }}</td>
		<td>{{ sntFemale }}</td>
		<td>{{ sntMale + sntFemale }}</td>
		<td>{{ rmTemporary }}</td>
		<td>{{ rmPermanent }}</td>
		<td>{{ rmTotal }}</td>
	</tr>
</table>
        <br>
<table class="{% if isHtml %} table table-condensed {% else %} pdf {% endif %}" {% if not isHtml %} border="1" {% endif %}>
	<tr>
		<th colspan="2"><b>Special Needs Education Teachers</b></th>
		<th colspan="2"><b>Total Number of Learners per Class</b></th>
	</tr>
	<tr>
		<td>Full Time</td>
		<td>Itinerant</td>
		<td>Maximum</td>
		<td>Minimum</td>
	</tr>
	<tr>
		<td>{{ sntResident }}</td>
		<td>{{ sntItinerant }}</td>
		<td>{{ maxLearners }}</td>
		<td>{{ minLearners }}</td>
	</tr>
</table>
<br>
<p>Classroom Status</p>
<table class="{% if isHtml %} table table-condensed {% else %} pdf {% endif %}" {% if not isHtml %} border="1" {% endif %}>
	<tr>
		<th>With Enough Lighting</th>
		<th>With Enough Space</th>
		<th>With Enough Ventilation</th>
		<th>With Adaptive Chairs</th>
		<th>Accessible</th>
	</tr>
	<tr>
		<td>{{ rmEnoughLight }}</td>
		<td>{{ rmEnoughSpace }}</td>
		<td>{{ rmEnoughVent }}</td>
		<td>{{ rmAdaptiveChairs }}</td>
		<td>{{ rmAccessible }}</td>
	</tr>
</table>