{% extends (isHtml)? 'zone/reports/zone_reports_basic.html.twig':'base.html.twig' %}

{% block body %} 
	{% if isHtml %}
		{{ parent() }}
	{% else %}
		{{ block('reports_body') }}
	{% endif %}
	
{% endblock %}
{% block reports_body %}	
    <h3><p class="text-center">Special Needs Education Management Information System Basic Report</p></h3>

    {# Zone identification section #}
    <h4>Zone Identification</h4>
    <table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}>
        <tr>
            <th rowspan="4" width="20%" align="middle">Zone Id Label</th>
            <th align="center">Identifier</th>
            <th align="center">Name</th>
            <th align="center">Numeric code</th>
            <th align="center">Number of Schools</th>
        </tr>			
        <tr>
            <td>1. Zone</td>
            <td>{{ zone.zone_name }}</td>
            <td align="center">{{ zone.idzone }}</td>
            <td align="center">{{ numOfSchools }}</td>
        </tr>
        <tr>
            <td>2. District</td>
            <td>{{ zone.district_name }}</td>
            <td align="center">{{ zone.iddistrict }}</td>
            <th align="center"></th>
        </tr>                    
    </table>

    <h4>New Learners with Disability, Dropouts, and Learners with Disability on Transfer {{ chaka }}</h4>        
    <table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}>
        <tr>
            <th align="center"></th>
            <th align="center">Enrolment</th>
            <th align="center">Transfers Out*</th>
            <th align="center">Transfers In*</th>
            <th align="center">Dropouts</th>
            <th align="center">Completed Std 8</th>
        </tr>	
        <tr>
            <td>Boys</td>
            <td>{{ numBoys }}</td>
            <td>{{ numBoysTRout }}</td>
            <td>{{ numBoysTRin }}</td>
            <td>{{ numBoysDO }}</td>
            <td>{{ numBoysC }}</td>
        </tr>
        <tr>                        
            <td>Girls</td>
            <td>{{ numGirls }}</td> 
            <td>{{ numGirlsTRout }}</td>
            <td>{{ numGirlsTRin }}</td>
            <td>{{ numGirlsDO }}</td>
            <td>{{ numGirlsC }}</td>
       </tr>
       <tr>
           <th>Total</th>
           <th>{{ totalEnrolled }}</th>
           <th>{{ totalTransferOut }}</th>
           <th>{{ totalTransferIn }}</th>
           <th>{{ totalDropouts }}</th>
           <th>{{ totalCompleted }}</th>
       </tr>
       <tr>
           <td colspan="6">*Transfers to schools into or outside the zone</td>
       </tr>
    </table>
   <h4>
       Learners with Disability by Standard, Sex and Age (age at the beginning of school year - {{ chaka }})
   </h4>
       <table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}>
        <tr>
            <th align="center" rowspan="2">Age</th>
            <th align="center" colspan="2">Std1</th>
            <th align="center" colspan="2">Std2</th>
            <th align="center" colspan="2">Std3</th>
            <th align="center" colspan="2">Std4</th>
            <th align="center" colspan="2">Std5</th>
            <th align="center" colspan="2">Std6</th>
            <th align="center" colspan="2">Std7</th>
            <th align="center" colspan="2">Std8</th>
            <th align="center" colspan="2">Total</th>
        </tr>
        <tr>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>
            <th align="center">M</th> <th align="center">F</th>            
        </tr>
        {% for age,ages in learnersBy %}        
        <tr>
            <td align="center">{{ age }} </td>
            {% for std,stds in ages %}            
                <td align="center">{{ stds.M }}</td><td align="center">{{ stds.F }}</td>
                {% if loop.last %}
                    <td align="center">{{ ageBySex[age].M }} </td><td align="center">{{ ageBySex[age].F }} </td>
                {% endif %}
            {% endfor %}            
        </tr>
        {% if loop.last %}
            <tr>
                <th align="center"> Total </th>
                {% for std,stds in stdBySex %}
                    <td align="center">{{ stds.M }}</td><td align="center">{{ stds.F }}</td>
                {% endfor %}
            </tr>
        {% endif%}
        {% endfor %}
</table>
    <h4>
       Teaching And Learning Needs/Resources - {{ chaka }})
   </h4>
        <table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}>
            <tr>
                <th align="center">Item</th>
                <th align="center">Else where</th>
                <th align="center">Resource Room</th>
            </tr>
            {% for need,needs in teachingNeeds %}        
                <tr>
                    <td align="center">{{ need }} </td>

                    <td align="center">{{ needs['No'] }}</td><td align="center">{{ needs['Yes'] }}</td>                

                </tr>
            {% endfor %}
        </table>
{% endblock %}