<p>SPECIAL NEEDS LEARNERS ({{ chaka }})</p>
<table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}> 
    <tr>
        <td align="center"><b>Learner ID</b></td>
        <td align="center"><b>Learner Name</b></td>
        {% if isZone %}
            <td align="center"><b>Emis code</b></td>
	{% endif %}
        {% if isDistrict %}
                         <td align="center"><b>Zone Id</b></td>
                    {% endif %}
                    {% if isNational %}
                         <td align="center"><b>District Id</b></td>
                    {% endif %}
        <td align="center"><b>Address</b></td>
        <td align="center"><b>Sex</b></td>
        <td align="center"><b>Date of Birth</b></td>
        <td align="center"><b>DTS*</b></td>
        <td align="center"><b>Guardian</b></td>
        <td align="center"><b>Sex of Guardian</b></td>
        <td align="center"><b>Occupation of Guardian</b></td>
        <td align="center"><b>Household type of Guardian</b></td>           
    </tr>
    
    {% for learner, learners in snLearners %}        
    <tr>
        <td align="center">{{ learners.idlwd}}</td>
        <td align="center">{{ learners.first_name}} {{ learners.last_name}}</td>
        {% if isZone %}
            <td align="center">{{ learners.emiscode}}</td>
	{% endif %}
        {% if isDistrict %}
            <td align="center">{{ learners['idzone'] }}</td>
        {% endif %}
        {% if isNational %}
            <td align="center">{{ learners['iddistrict'] }}</td>
        {% endif %}
        <td align="center">{{ learners.home_address}}</td>
        <td align="center">{{ learners.sex}}</td>
        <td align="center">{{ learners.dob}}</td>
        <td align="center">{{ learners.distance_to_school}}</td>
        <td align="center">{{ learners.gfirst_name}} {{ learners.glast_name}}</td>
        <td align="center">{{ learners.gsex}}</td>
        <td align="center">{{ learners.occupation}}</td>
        <td align="center">{{ learners.household_type}}</td>            
    </tr>
    {% endfor %}
    <tr>
        <td align="center" colspan="9"><b>*DTS=Distance to school (KM)</b></td>           
    </tr>
</table>
