<p>SPECIAL NEEDS TEACHERS ({{ chaka }})</p>
<table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}> 
    <tr>
        <td align="center"><b>Teacher Name</b></td>       
        <td align="center"><b>Sex</b></td>
        <td align="center"><b>Qualification</b></td>
        <td align="center"><b>Specialty*</b></td>
        <td align="center"><b>Year Started</b></td>
        <td align="center"><b>Type</b></td>          
    </tr>
    
    {% for teacher, teachers in snTeachers %}        
    <tr>
        <td align="center">{{ teachers.sfirst_name}} {{ teachers.slast_name }}</td>
        <td align="center">{{ teachers.s_sex }}</td>
        <td align="center">{{ teachers.qualification }}</td>      
        <td align="center">{{ teachers.speciality }}</td>
        <td align="center">{{ teachers.year_started}}</td>
        <td align="center">{{ teachers.teacher_type }}</td>            
    </tr>
    {% endfor %}
    <tr>
        <td align="center" colspan="7"><b>*VI= Visual Impairment, LD = Learning Difficulty, HI = Hearing Impairment</b></td>           
    </tr>
</table>