{% form_theme form1 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'school/learners/learners_main.html.twig' %}

{% set learner = app.request.attributes.get('_route_params')['learnerId'] %} {# get the learner id from the Route #}
{% block learner_form_nav %}
	{% embed 'school/learners/learner_form_nav.html.twig' %}
		{% block personal_info %}active{% endblock %}
	{% endembed %}
{% endblock %}
{% block context_options %}
	{% if learner != 'new' %}
		<a href="{{ path('learner_exit', {"emisCode":emisCode, "learnerId":learnerId }) }}" class="btn btn-sm">Learner exited school</a>
	{% endif %}	
{% endblock %}
{# Form for learner personal information and guardian information #}
	{% block form_container %}
                {% if app.session.flashBag.has('learnerExists') %}       
                            {% for msg in app.session.flashBag.get('learnerExists') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                </div>
                            {% endfor %}        
                        {% endif %}
		{# render the learner personal information form #}
		{{ form_start(form1) }}
		{{ form_errors(form1) }}
		
		<div class="row">
			<div class="col-sm-6">
				<fieldset class="fieldset">
					<legend><small>Personal Information</small></legend>
					{{ form_row(form1.idlwd, {'attr':{'readonly': readonly, 'autofocus':'true'}}) }}			
					{{ form_row(form1.first_name, {'attr':{'autofocus':'true'}}) }}
					{{ form_row(form1.last_name) }}
					{{ form_row(form1.initials) }}
					{{ form_row(form1.sex, {'label_attr':{'class':'radio-inline'}}) }}
					{{ form_row(form1.dob) }}
					{{ form_row(form1.home_address) }}
					<br><br>
					{{ form_row(form1.distance_to_school) }}	
					{{ form_row(form1.std) }}										
				</fieldset>
			</div>
			<div class="col-sm-6">
				<fieldset>
					<legend><small>Guardian Information</small></legend>
					{{ form_row(form1.guardian_relationship, {'label_attr':{'class':'radio-inline'}}) }}
					{{ form_row(form1.gfirst_name) }}
					{{ form_row(form1.glast_name) }}
					{{ form_row(form1.gsex, {'label_attr':{'class':'radio-inline'}}) }}
					{{ form_row(form1.gdob) }}
					{{ form_row(form1.gaddress) }}					
					{{ form_row(form1.occupation) }}
					{{ form_row(form1.income_level, {'label_attr':{'class':'radio-inline'}}) }}
					{{ form_row(form1.district) }}
					{{ form_row(form1.idguardian) }}
				</fieldset>
			</div>

		</div>
		<p class="text-right">
			{{ form_widget(form1.save, {'attr':{'class':'btn btn-default'},'after_label':' <i class="fa fa-chevron-right"></i>'}) }}
		</p>
		{{ form_end(form1) }}
	{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/datepicker/css/datepicker.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('assets/datepicker/js/bootstrap-datepicker.js')}}"></script>
{% endblock %}