{% for form in forms %}
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endfor %}

{% extends 'school/learners/learners_main.html.twig' %}

{% block student_exit_button %}
	{# hide the student exit button #}
{% endblock %}

{% block form_container %}
	<div class="col-sm-12">
		<fieldset>
			<legend>Student exit details</legend>
			<div class="error-box"></div>
			<table class="table" id="exit_form_container">
				<tr>
					<th>LIN</th><th>Reason for exit</th><th>Other reason (specify)</th>
					<th></th>
				</tr>
				{% set counter = 1 %}
				{% for form in forms%}
					<tr>
						{{ form_start(form, {'attr':{'class':'learner_exit_form'},'action': path('learner_exit',{'emisCode':emisCode})}) }}
						<td>
							{{ form_errors(form.idlwd) }}
							{{ form_widget(form.idlwd) }}
						</td>
					    <td>
					    	{{ form_errors(form.reason) }}
					    	{{ form_widget(form.reason, {'attr':{'class':'exit_reason','data-reasoncount': counter}}) }}
					    </td>
						<td>
							{{ form_errors(form.other_reason) }}
							{{ form_widget(form.other_reason, {'attr':{'data-othercount': counter,'readonly':'readonly'}}) }}
						</td>
					
						<td>
							{{ form_widget(form.save, {'attr':{'data-toggle':'confirmation','data-prompt':'Save exit record for this learner? You will not be able to edit information about this learner under this school', 'class':'btn-sm'},'before_label': '<i class="fa fa-check"></i> '}) }}
						</td>
						{{ form_end(form) }}
					</tr>
					{% set counter = counter + 1 %}	
				{% endfor %}
			</table>			
		</fieldset>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-8">
			<a class="btn btn-sm" href="{{ path('school_learners',{'emisCode':emisCode}) }}"><i class="fa fa-remove"></i> Cancel</a>
			<a class="btn btn-sm" data-toggle='confirmation' data-prompt='Save exit records?' id="save-all" href="#"><i class="fa fa-check"></i> Save all</a>
		</div>
	</div><br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-confirmation.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/enable-confirmation.js')}}"></script>
{% endblock %}