{% form_theme learnerFinderForm 'bootstrap_3_horizontal_layout.html.twig' %}
{#{% extends 'school/learners/learners_main.html.twig' %}#}
{% extends 'district/district.html.twig' %}

{% set iddistrict = app.request.attributes.get('_route_params')['idDistrict'] %} {# get the learner id from the Route #}
{% block content %}                                
    {{ render(controller('AppBundle:Default:learnerSelectForm')) }}
    {#render the learner finder form  
            {{ form_start(learnerFinderForm) }}
            {{ form_errors(learnerFinderForm) }}

            <div class="row">
            <div class="col-sm-8">
                <fieldset class="fieldset">
                    <legend><small>Transfer Learner</small></legend>
                    {{ form_row(learnerFinderForm.district) }}			
                    {{ form_row(learnerFinderForm.zone) }} 
                    {{ form_row(learnerFinderForm.school) }}
                    {{ form_row(learnerFinderForm.learner) }} 
                 </fieldset>
            </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4">
                <p class="text-left">
                        {{ form_widget(learnerFinderForm.save, {'attr':{'class':'btn btn-default'},'after_label':' <i class="fa fa-chevron-right"></i>'}) }}
                </p>
                </div>
            </div>
            {{ form_end(learnerFinderForm) }}#}
{% endblock %}
{#{% block learner_form_nav %}
	{% embed 'school/learners/learner_form_nav.html.twig' %}
		{#{% block personal_info %}active{% endblock %}
	{% endembed %}
{% endblock %}#}
{#{% block transfers %}
    <div class="row">
        <div class="col-sm-6">
            <p class="text-center"><a href="{{ path('learner_exit', {"emisCode":emisCode, "learnerId":learnerId})}}" class="btn btn-sm">Student exited school</a></p>               
        </div>
        <div class="col-sm-6">
            <p class="text-center"><a href="{{ path('learner_transfer', {"emisCode":emisCode, "learnerId":learnerId})}}" class="btn btn-sm">Transfer from other school</a></p>
        </div>
    </div>
{% endblock %}#}

{# Form for transefering learners #}
	{% block form_container %}
        <div class="row">
            <div class="col-sm-8">
             {#{{ render(controller('AppBundle:Default:learnerSelectForm')) }}#}
            </div>
            
            </div>
	{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/datepicker/css/datepicker.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-confirmation.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/enable-confirmation.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/datepicker/js/bootstrap-datepicker.js')}}"></script>
{% endblock %}