{% form_theme form1 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'school/materials/resources_main.html.twig' %}

{#{% set material = app.request.attributes.get('_route_params')['materialId'] %}#} {# get the material id from the Route #}
{% set need = app.request.attributes.get('_route_params')['needId'] %} {# get the need id from the Route #}

{% block material_form_nav %}
    {{ parent() }}
{% endblock %}

{% block form_container %}
    {# put the different forms for adding teacher information in a carousel #}
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            {{ form_start(form1) }}
            {{ form_errors(form1) }}
            {{ form_row(form1.idneed, {'attr':{'disabled': disabled }}) }}
             {{ form_row(form1.idneed_2) }}
            {{ form_row(form1.date_procured) }}
            {{ form_row(form1.year_recorded) }}
            {{ form_row(form1.state) }}
            {{ form_row(form1.available_in) }}
            {{ form_row(form1.quantity) }}
            <p class="text-right">
                {{ form_widget(form1.save, {'attr':{'class':'btn btn-default','data-slide':'next'},'after_label':' <i class="fa fa-chevron-right"></i>'}) }}
            </p>
            {{ form_end(form1) }}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/datepicker/css/datepicker.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/datepicker/js/bootstrap-datepicker.js')}}"></script>
{% endblock %}
