{% form_theme form1 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'school/materials/materials_main.html.twig' %}

{% set material = app.request.attributes.get('_route_params')['materialId'] %} {# get the material id from the Route #}

{% block material_form_nav %}
    {{ parent() }}
{% endblock %}
{% block form_container %}
    {% if app.session.flashBag.has('roomExists') %}       
            {% for msg in app.session.flashBag.get('roomExists') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {% if app.session.flashBag.has('roomUpdated') %}       
            {% for msg in app.session.flashBag.get('roomUpdated') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {% if app.session.flashBag.has('roomAdded') %}       
            {% for msg in app.session.flashBag.get('roomAdded') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {{ form_start(form1) }}
    {{ form_errors(form1) }}
    <div class="row">
        <div class="col-sm-6">
             <fieldset class="fieldset">                    		
                    {{ form_row(form1.room_id, {'attr':{'readonly': readonly}}) }}			                                              
                    {{ form_row(form1.enough_light) }}
                    {{ form_row(form1.enough_space) }}
                    {{ form_row(form1.access) }}
                </fieldset>
            </div>
                <div class="col-sm-6">
                <fieldset class="fieldset">                    		                    
                    {{ form_row(form1.enough_ventilation) }}
                    {{ form_row(form1.adaptive_chairs) }}
                    {{ form_row(form1.noise_free) }}
                    {{ form_row(form1.room_type) }}
                </fieldset>
            </div>
    </div>                    
    <p class="text-right">
        {{ form_widget(form1.save, {'attr':{'class':'btn btn-default','data-slide':'next'},'after_label':' <i class="fa fa-chevron-right"></i>'}) }}
    </p>
    {{ form_end(form1) }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/datepicker/css/datepicker.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/datepicker/js/bootstrap-datepicker.js')}}"></script>
{% endblock %}
