{% form_theme form1 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'school/materials/materials_main.html.twig' %}

{% set material = app.request.attributes.get('_route_params')['materialId'] %} {# get the material id from the Route #}

{% block form_container %}
	{# put the different forms for adding teacher information in a carousel #}
        <div id="formCarousel" class="carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				{{ form_start(form1) }}
				{{ form_errors(form1) }}
					
				{{ form_row(form1.room_id, {'attr':{'readonly': readonly}}) }}			
				{#{{ form_row(form1.emiscode) }}#}                               
				{{ form_row(form1.year_started) }}
				{{ form_row(form1.enough_light) }}
				{{ form_row(form1.enough_space) }}
				{{ form_row(form1.adaptive_chairs) }}
                                {{ form_row(form1.access) }}
                                {{ form_row(form1.enough_ventilation) }}
                                {{ form_row(form1.other_observations) }}          
				<p class="text-right">
                                    {{ form_widget(form1.save, {'attr':{'class':'btn btn-default','data-slide':'next'},'after_label':' <i class="fa fa-chevron-right"></i>'}) }}
				</p>
				{{ form_end(form1) }}
			</div>

		</div>
{% endblock %}
