{% form_theme form1 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'school/materials/resources_main.html.twig' %}

{#{% set material = app.request.attributes.get('_route_params')['materialId'] %}#} {# get the material id from the Route #}
{% set needId = app.request.attributes.get('_route_params')['needId'] %} {# get the need id from the Route #}

{% block material_form_nav %}
    {{ parent() }}
{% endblock %}

{% block form_container %}
      {% if app.session.flashBag.has('resourceExist') %}       
            {% for msg in app.session.flashBag.get('resourceExist') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {% if app.session.flashBag.has('resourceUpdated') %}       
            {% for msg in app.session.flashBag.get('resourceUpdated') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {% if app.session.flashBag.has('resourceAdded') %}       
            {% for msg in app.session.flashBag.get('resourceAdded') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}    
    {# put the different forms for adding teacher information in a carousel #}
    <!-- Wrapper for slides -->
    <div class="row" role="listbox">
        <div class="col-sm-10">
            {{ form_start(form1) }}
            {{ form_errors(form1) }}
            {{ form_row(form1.idneed, {'attr':{'disabled': disabled }}) }}
            {{ form_row(form1.idneed_2, {'attr':{'disabled': disabled }}) }}
            <hr/>
            <div class="row">
                <div class="col-sm-6" style="border-right: 1px gray solid">
                    {{ form_row(form1.quantity_required) }}
                    {{ form_row(form1.quantity_available) }}
                    {{ form_row(form1.quantity_in_use) }}
                </div>
                <div class="col-sm-6">
                    <br><br><br>
                    <div class="row"> {{ form_row(form1.available) }}</div>
                </div>
            </div>
            <hr/>
            {{ form_row(form1.provided_by) }}            
            <p class="text-right">
                {{ form_widget(form1.save, {'attr':{'class':'btn btn-default','data-slide':'next'},'after_label':' <i class="fa fa-chevron-right"></i>'}) }}
            </p>
            {{ form_end(form1) }}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/datepicker/css/datepicker.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/datepicker/js/bootstrap-datepicker.js')}}"></script>
{% endblock %}
