{# if the request for this page was not made through ajax, inherit the template that displays the whole schools page #}
{% extends 'school/school2.html.twig' %}

{% block facilities_menuitem %} active {% endblock %} {# Cause the menu item for this page to be active#}

{% set emisCode = app.request.attributes.get('_route_params')['emisCode'] %} {# get the emisCode from the Route#}
{% set schoolInfo = app.session.get('schoolInfo') %}

{% block school_info %}
    <div class="row">
            <p class="text-center"><a href="{{ path('school_return') }}" class="btn btn-sm" id="add_rc"><i class="fa fa-plus fa-lg"></i> &nbsp; Choose Another School</a></p>
        </div>
        <div class="row" align="center">        
            <h4><b>{{schoolInfo.school_name}} ({{ schoolInfo.emiscode }}) | 
                    {{schoolInfo.zone_name}} zone ({{ schoolInfo.idzone }})| {{schoolInfo.district_name}} | 
                    {{schoolInfo.address}} </b></h4>
        </div>        
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3">
            
                    {# embed the controller that returns the form for selecting existing materials #}
                    {{ render(controller('AppBundle:School:findResourceForm',{"emisCode":emisCode}))}}
                
            
        </div>
        <div class="col-sm-6">
            {% block material_form_nav %}
                {% embed 'school/materials/material_form_nav.html.twig' %}
                    {% block resource_room_info %}active {% endblock %}
                    {% block material_link %}
                        {{ path('school_materials',{"emisCode": emisCode,"link": "room"})}}
                    {% endblock %}
                    {% block resource_link %}
                        {#{{ path('school_materials',{"emisCode": emisCode,"link": "resource"})}}#}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        </div>			
        
            <div class="col-sm-3">
                
               
                    <p class="text-right"><a href="{{ path('edit_resource_material',{"emisCode":emisCode, "needId": "new"}) }}" class="btn btn-sm" id="add_rc"><i class="fa fa-plus fa-lg"></i> &nbsp; Add New Resource</a></p>
                
            </div>
        </div>
    {#{% block material_form_nav %}{% endblock %}#}	
    <hr>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% block form_container %}
            <br><br><h2 class="text-center"><small>Choose a resource to edit OR Add a new resource</small></h2>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{# empty Twig template #}
