{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('assets/css/school.css')}}" rel="stylesheet">
{% endblock %}
{% block vertnav %}
    
{%endblock%}
{% block rightcolumn %}
    {# include the form used for selecting a zone #}
    {{ render(controller('AppBundle:Default:zoneSelectForm')) }}
    {% block zone_info %} {% endblock %}
    <div class="row content">
        {% block content %}
            {#
            {% block material1 %}{% endblock %}
            {% block resource1 %}{% endblock %}
             {% block material2 %}{% endblock %}
            {% block resource2 %}{% endblock %}
            #}
                {# {% if message is not null %}
                    <br><br><h2 class="text-center"><small>{{ message }}</small></h2>

                {% else %} #}
                    <br><br><h2 class="text-center"><small>Zone not chosen</small></h2>
                {# {% endif %} #}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('assets/js/school.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}