{% extends 'district/district.html.twig' %}

{% set iddistrict = app.request.attributes.get('_route_params')['iddistrict'] %} {# get the district id from the Route#}

{% block vertnav %}
    <li><a id="materials" district="{{ iddistrict }}" href="{{ path('district_snl',{"iddistrict": iddistrict,})}}" class="{% block district_snl %}{% endblock %}">District SNL reports</a></li>
    <li><a href="#" class="{% block district_facility %}{% endblock %}"> District school facility reports </a></li>
{%endblock%}

{% block district_select_form %}
    {% embed 'info_bar.html.twig'%}
        {% block slot1 %}
            {% set districtInfo = app.session.get('districtInfo') %}
            <b>Selected District: </b>
            {% if districtInfo is not null %}
                {{ districtInfo.district_name }} ({{ districtInfo.iddistrict }})
            {% endif %}

        {% endblock %}
        {% block slot5 %}
            <a href="{{ path('district_return') }}" class="btn btn-sm">Choose Another District</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-1">                        
        </div>
        <div class="col-sm-11">
                <h4><b>{{district.district_name}} | District number: {{ iddistrict }} | Number of Schools: {{ numOfSchools }}</b></h4>
        </div>        			
    </div>
        <div class="row">
            <div class="col-sm-1">                        
        </div>
        <div class="col-sm-5">
            {% block context_options %}
                <a href="{{ path('learner_transfer', {"iddistrict":iddistrict})}}" class="btn btn-sm">Add transfers from other schools</a>
            {% endblock %}
        </div></div>
    <hr>
    <div class="row">
        <div class="col-sm-1">                        
        </div>
        <div class="col-sm-11">
            <i class="text-center">Summary of learners with special needs in <b>{{ year }}</b></i>
            <table class="table">
                <tr><td><b>Impairment</b></td><td align="center"><b>Number of learners</b></td></tr>
                {% for disability in disabilities %}
                    <tr>
                        <td>{{disability.disability_name}}</td>
                        <td align="center">{{disability.num_learners}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    {% if disabilities is not empty %}
                    <td><b>Total Number of Special Needs cases</b></td>
                    <td align="center">					
                        <b>{{ disabilities.0.total }}</b>				
                    </td>
                    {% endif %}
                </tr>
            </table>
        </div>	
    </div>
{% endblock %}

