{% extends (isHtml)? 'school/reports/reports_custom.html.twig':'base.html.twig' %}


{% block body %} 
	{% if isHtml %}
		{{ parent() }}
	{% else %}
		{{ block('reports_body') }}
	{% endif %}
	
{% endblock %}
{% block reports_body %}	
		<h3><p class="text-center">Special Needs Education Management Information System Custom Report</p></h3>
		<h4><p class="text-center">{{ " "|date() }}</p></h4>
		
		{# school identification section #}
		SCHOOL IDENTIFICATION
		<table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}>
			<tr>
				<th rowspan="4" width="20%">SCHOOL ID LABEL</th>
				<th align="center">Identifier</th>
				<th align="center">Name</th>
				<th align="center">Numeric code</th>
			</tr>
			<tr>
				<td>1. School</td>
				<td>{{ school.school_name }}</td>
				<td align="left">{{ school.emiscode }}</td>
			</tr>
			<tr>
				<td>2. Zone</td>
				<td>{{ school.zone_name }}</td>
				<td align="left">{{ school.idzone }}</td>
			</tr>
			<tr>
				<td>3. District</td>
				<td>{{ school.district_name }}</td>
				<td align="left">{{ school.iddistrict }}</td>
			</tr>
		</table>
                {% if lwdBCG is defined %}
                    {% include 'school/reports/learners_class_sex.html.twig' %}
		{% endif %}
                {% if lwdBIG is defined %}
                    {% include 'school/reports/learners_category_sex.html.twig' %}
		{% endif %}
                {% if lwdBDG is defined %}
                    {% include 'school/reports/learners_disability_sex.html.twig' %}
		{% endif %}
                {#{% if snLearners is defined %}
                    {% include 'school/reports/sn_learner.html.twig' %}
		{% endif %}
                {% if snTeachers is defined %}
			{% include 'school/reports/sn_teachers.html.twig' %}
		{% endif %}#}
	{% endblock %}
