<Worksheet ss:Name="Preliminary">
  <Table x:FullColumns="1" x:FullRows="1" ss:DefaultRowHeight="15">
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>
  <ss:Column ss:AutoFitWidth="1" ss:Width="80"/>

  <Row>
    <Cell ss:MergeRight="1" ss:StyleID="s2"><Data ss:Type="String">Preliminary Counts</Data></Cell>
  </Row>
  <Row ss:Index="4">
    <Cell ss:MergeRight="2" ss:StyleID="s3"><Data ss:Type="String">Total Learners with Disability</Data></Cell>  
    <Cell ss:MergeRight="2" ss:Index="4" ss:StyleID="s3"><Data ss:Type="String">Total Special Needs Education Teachers</Data></Cell>
    <Cell ss:MergeRight="2" ss:Index="7" ss:StyleID="s3"><Data ss:Type="String">Total Classrooms Present</Data></Cell>
  </Row>
  <Row>
    <Cell><Data ss:Type="String">Boys</Data></Cell>
    <Cell><Data ss:Type="String">Girls</Data></Cell>
    <Cell><Data ss:Type="String">Total</Data></Cell>
    <Cell><Data ss:Type="String">Male</Data></Cell>
    <Cell><Data ss:Type="String">Female</Data></Cell>
    <Cell><Data ss:Type="String">Total</Data></Cell>
    <Cell><Data ss:Type="String">Resource</Data></Cell>
    <Cell><Data ss:Type="String">Permanent</Data></Cell>
    <Cell><Data ss:Type="String">Temporary</Data></Cell>
 </Row>
 <Row>
    <Cell><Data ss:Type="Number">{{ numBoys }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ numGirls }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ numBoys + numGirls }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ sntMale }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ sntFemale }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ sntMale + sntFemale }}</Data></Cell>
 </Row>
 <Row ss:Index="9">
    <Cell ss:MergeRight="1" ss:StyleID="s3"><Data ss:Type="String">Special Needs Education Teachers</Data></Cell>
    <Cell ss:MergeRight="1" ss:Index="3" ss:StyleID="s3"><Data ss:Type="String">Total Number of Learners per Class</Data></Cell>
 </Row>
 <Row>
    <Cell><Data ss:Type="String">Full Time</Data></Cell>
    <Cell><Data ss:Type="String">Itinerant</Data></Cell>
    <Cell><Data ss:Type="String">Maximum</Data></Cell>
    <Cell><Data ss:Type="String">Minimum</Data></Cell>
 </Row>
 <Row>
    <Cell><Data ss:Type="Number">{{ sntResident }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ sntItinerant }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ maxLearners }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ minLearners }}</Data></Cell>
 </Row>

 <Row ss:Index="13">
    <Cell><Data ss:Type="String">CLASSROOM STATUS</Data></Cell>
 </Row>
 <Row>
    <Cell><Data ss:Type="String">With enough lighting</Data></Cell>
    <Cell><Data ss:Type="String">With enough space</Data></Cell>
    <Cell><Data ss:Type="String">With enough ventilation</Data></Cell>
    <Cell><Data ss:Type="String">With Adaptive Chairs</Data></Cell>
    <Cell><Data ss:Type="String">Temporary classes</Data></Cell>
 </Row>
 <Row>
    <Cell><Data ss:Type="Number">{{ rmEnoughLight }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ rmEnoughSpace }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ rmEnoughVent }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ rmAdaptiveChairs }}</Data></Cell>
    <Cell><Data ss:Type="Number">{{ rmTemporary }}</Data></Cell>
 </Row>

</Table>
<WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
  <PageSetup>
    <Header x:Margin="0.3"/>
    <Footer x:Margin="0.3"/>
    <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
  </PageSetup>
  <ProtectObjects>False</ProtectObjects>
  <ProtectScenarios>False</ProtectScenarios>
</WorksheetOptions>
</Worksheet>