{% if form is defined %}
	{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}
{% extends 'school/reports/reports_main.html.twig' %}

{% block custom_reports %} active {% endblock %} {# activate the tab for this page #}

{% block reports_body %}
        <br>
	{{ form_start(form) }}
	{{ form_errors(form) }}
        <div class="row">
            <div class="col-sm-6">
                
                <legend align="centre"><small>Special Needs Learners</small></legend>
                <fieldset class="fieldset">                    		
                    {{ form_row(form.reports) }}                 
                </fieldset>
            </div>
            <div class="col-sm-6">
                <legend><small>Special Needs Teachers</small></legend>
                <fieldset class="fieldset">                    		
                    {{ form_row(form.standard) }}
                    {{ form_row(form.standard2) }}
                    {{ form_row(form.stdrange) }} 
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset class="fieldset">                    		
                    {{ form_row(form.format )}}	
                    {{ form_row(form.produce, {'before_label':'<i class="fa fa-table"></i> '})}}                 
                </fieldset>
            </div>           
        </div>		
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('assets/js/reports.js')}}"></script>
{% endblock %}
