<p>SPECIAL NEEDS LEARNERS</p>
<table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}> 
    <tr>
        <td align="center"><b>Learner Name</b></td>
        <td align="center"><b>Address</b></td>
        <td align="center"><b>Sex</b></td>
        <td align="center"><b>Date of Birth</b></td>
        <td align="center"><b>DTS*</b></td>
        <td align="center"><b>Guardian</b></td>
        <td align="center"><b>Sex of Guardian</b></td>
        <td align="center"><b>Occupation of Guardian</b></td>
        <td align="center"><b>Income Level of Guardian</b></td>           
    </tr>
    
    {% for learner, learners in snLearners %}        
    <tr>
        <td align="center">{{ learners.first_name}} {{learners.initials}} {{ learners.last_name}}</td>
        <td align="center">{{ learners.home_address}}</td>
        <td align="center">{{ learners.sex}}</td>
        <td align="center">{{ learners.dob}}</td>
        <td align="center">{{ learners.distance_to_school}}</td>
        <td align="center">{{ learners.gfirst_name}} {{ learners.glast_name}}</td>
        <td align="center">{{ learners.gsex}}</td>
        <td align="center">{{ learners.occupation}}</td>
        <td align="center">{{ learners.income_level}}</td>            
    </tr>
    {% endfor %}
    <tr>
        <td align="center" colspan="9"><b>*DTS=Distance to school (KM)</b></td>           
    </tr>
</table>
