<br>
<p><b>LEARNER WITH DISABILITY INFORMATION</b></p>

<i>Enrollments, Dropouts and Transfers</i>
<table class="{% if isHtml %} table table-condensed {% else %} pdf {% endif %}" {% if not isHtml %} border="1" {% endif %}>
	<tr>
		<th colspan="3">LWD Enrolled this Year</th>
		<th colspan="3">Transfers in</th>
                <th colspan="3">Transfers out</th>
		<th colspan="3">Dropouts</th>
		<th colspan="3">Completed Std 8</th>
	</tr>
	<tr>
		{% for i in 0..4 %}
			<td>Boys</td><td>Girls</td><td>Total</td>
		{% endfor %}
	</tr>
	<tr>
		{# learners enrolled this year #}
		<td>{{ enrolledBoys }}</td>
		<td>{{ enrolledGirls }}</td>
		<td>{{ enrolledTotal }}</td>
                {#Transfers in#}
		<td>{{ numBoysTRin }}</td>
                <td>{{ numGirlsTRin }}</td>
                <td>{{ totalTransferIn }}</td>
                {#Transfers out#}
                <td>{{ numBoysTRout }}</td>
                <td>{{ numGirlsTRout }}</td>
                <td>{{ totalTransferOut }}</td>
		{# dropouts #}
		<td>{{ dropoutBoys }}</td>
		<td>{{ dropoutGirls }}</td>
		<td>{{ dropoutTotal }}</td>
		{# completed std 8 #}
		<td>{{ completedBoys }}</td>
		<td>{{ completedGirls }}</td>
		<td>{{ completedTotal }}</td>
	</tr>
</table><br>
<i>Dropouts and completed by disability category and gender</i>
<table class="{% if isHtml %} table table-condensed {% else %} pdf {% endif %}" {% if not isHtml %} border="1" {% endif %}>	        
        
        
        <tr>
            <th></th>
            {% for dropOrComplete,counts in categoryCounts[dOrCsKey] %}
                <th colspan="3">{{ dropOrComplete }}</th>                
            {% endfor %}
	</tr>
	<tr>
            <td>Category Name</td>
            {% for i in 0..1 %}
                <td>Boys</td><td>Girls</td><td>Total</td>
            {% endfor %}
	</tr>
        {% for category, dOrCs in categoryCounts %}
            <tr>
                <td>{{ category }}</td>
                {% for dOrCs,gender in dOrCs %}                
                    <td>{{ gender['M'] }}</td>
                    <td>{{ gender['F'] }}</td>
                    <td>{{ gender['F'] + gender['M'] }}</td>                            
            {% endfor %}
            </tr>
        {% endfor %}
</table><br>
<i>Learners with disability by Standard, Sex and Age (age at the beginning of the school year)</i>
<table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}> 
    <tr>
        <td align="center" rowspan="2" valign="middle"><b>Age</b></td>
        <td align="center" colspan="2"><b>Std1</b></td>
        <td align="center" colspan="2"><b>Std2</b></td>
        <td align="center" colspan="2"><b>Std3</b></td>
        <td align="center" colspan="2"><b>Std4</b></td>
        <td align="center" colspan="2"><b>Std5</b></td>
        <td align="center" colspan="2"><b>Std6</b></td>
        <td align="center" colspan="2"><b>Std7</b></td>
        <td align="center" colspan="2"><b>Std8</b></td>
        <td align="center" colspan="2"><b>Total</b></td>           
    </tr>
    <tr>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>
        <td align="center"><b>M</b></td> <td align="center"><b>F</b></td>            
    </tr>
    {% for age,ages in learnersBy %}        
    <tr>
        <td align="center">{{ age }} </td>
        {% for std,stds in ages %}            
            <td align="center">{{ stds.M }}</td><td align="center">{{ stds.F }}</td>
            {% if loop.last %}
                <td align="center">{{ ageBySex[age].M }} </td><td align="center">{{ ageBySex[age].F }} </td>
            {% endif %}
        {% endfor %}            
    </tr>
    {% if loop.last %}
        <tr>
            <td align="center"> <b>Total</b> </td>
            {% for std,stds in stdBySex %}
                <td align="center">{{ stds.M }}</td><td align="center">{{ stds.F }}</td>
            {% endfor %}
        </tr>
    {% endif%}
    {% endfor %}
</table>