<h4>
       Education Support Available for Learners with Disabilities/Special Needs - ({{ chaka }})
   </h4>
        <table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}>
            <tr>
                <td align="center" rowspan="2"><b>Item</b></td>
                <td align="center" colspan="3"><b>Quantity</b></td>                
                <td align="center" rowspan="2"><b>Available</b></td>
                <td align="center" rowspan="2"><b>Provided By</b></td>
            </tr>
            <tr>
                
                <td align="center"><b>Available</b></td>
                <td align="center"><b>In use</b></td>
                <td align="center"><b>Required</b></td>
                
            </tr>
            
            {% for row,needs in teachingNeeds %}        
                <tr>
                    <td align="center">{{ needs['needname'] }} </td>
                    <td align="center">{{ needs['quantity_available'] }}</td>
                    <td align="center">{{ needs['quantity_in_use'] }}</td>
                    <td align="center">{{ needs['quantity_required'] }}</td>
                    <td align="center">{{ needs['available'] }}</td>
                    <td align="center">{{ needs['provided_by'] }}</td>
                </tr>
            {% endfor %}
        </table><br>
        <table class="table table-condensed" {% if not isHtml %} border="1" {% endif %}>
            <tr>
                <td align="center"><b>Room</b></td>
                <td align="center"><b>Enough Lighting</b></td>
                <td align="center"><b>Enough Space</b></td>
                <td align="center"><b>Adaptvie Chairs</b></td>
                <td align="center"><b>Accessibility</b></td>
                <td align="center"><b>Enough Ventilation</b></td>
                <td align="center"><b>Room Type</b></td>
            </tr>
            {% for row,rooms in teachingRooms %}        
                <tr>
                    <td align="center">{{ rooms['room_id'] }} </td>
                    <td align="center">{{ rooms['enough_light'] }}</td>
                    <td align="center">{{ rooms['enough_space'] }}</td>
                    <td align="center">{{ rooms['adaptive_chairs'] }}</td>
                    <td align="center">{{ rooms['access'] }}</td>
                    <td align="center">{{ rooms['enough_ventilation'] }}</td>
                    <td align="center">{{ rooms['room_type'] }}</td>
                </tr>
            {% endfor %}
        </table>