{% form_theme form2 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'school/specialist_teacher/teachers_main.html.twig' %}
{% set teacher = app.request.attributes.get('_route_params')['teacherId'] %} {# get the material id from the Route #}

{% block form_container %}
    {% if app.session.flashBag.has('sntUpdated') %}       
            {% for msg in app.session.flashBag.get('sntUpdated') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {% if app.session.flashBag.has('sntAdded') %}       
            {% for msg in app.session.flashBag.get('sntAdded') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {% if app.session.flashBag.has('sntExists') %}       
            {% for msg in app.session.flashBag.get('sntExists') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    {{ msg }}
                </div>
            {% endfor %}        
    {% endif %}
    {# put the different forms for adding teacher information in a carousel #}
    {{ form_start(form2) }}
    {{ form_errors(form2) }}
    <div class="row">
        <div class="col-sm-12">
            <legend><small>SNT Personal Details</small></legend>
            <div class="col-sm-6">                
                <fieldset class="fieldset">                    		
                    {{ form_row(form2.employment_number, {'attr':{'readonly': readonly}}) }}
                    {{ form_row(form2.sfirst_name) }}
                    {{ form_row(form2.slast_name) }}
                    {{ form_row(form2.sinitials) }}
                    {{ form_row(form2.s_dob) }}                    
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    {{ form_row(form2.s_sex) }}
                    {{ form_row(form2.qualification) }}
                    {{ form_row(form2.speciality) }}
                    {{ form_row(form2.other_specialities, {'attr':{'readonly':'readonly'}}) }}
                    {{ form_row(form2.year_started) }}
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <legend><small>School SNT details</small></legend>
            <div class="col-sm-6">
                {#<legend><small>School Details about SNT</small></legend>#}
                {{ form_row(form2.year) }}
            </div>
             <div class="col-sm-6">
                {#<legend><small>School Details about SNT</small></legend>#}
                {{ form_row(form2.snt_type) }}
            </div>            
        </div>            
    </div>
                <div class="row">
                <div class="col-sm-12">
                <p class="text-right">
                    {{ form_widget(form2.save, {'attr':{'class':'btn btn-default','data-slide':'next'},'after_label':' <i class="fa fa-chevron-right"></i>'}) }}
                </p>
                </div>
            </div>
        {{ form_end(form2) }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/datepicker/css/datepicker.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/datepicker/js/bootstrap-datepicker.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-confirmation.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/enable-confirmation.js')}}"></script>
{% endblock %}